body{
    color: blue;
    background: rgb(194, 20, 20);
    margin: 0px;
    font-family: "Lora",sans-serif;
}

header{
    border-bottom: solid 2px rgb(0, 247, 255);
    padding: 20px;
    font-size:32px ; 
    color: rgb(255, 0, 0)
}

.chamada{
    background:rgb(165, 155, 17) ;
    padding-bottom: 80;
    padding-top: flex;
    display:flex ;
    justify-content: center;
}
.chamada.texto{
    margin-right: 5%;
}
h1{
    font-size: 40;
}
p{
    font-size: 20px;
}
img{
    height: 200px;
}
.categoria-video{
    display: flex;
    overflow-x: auto;
    gap: 10x;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}